<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randomly Moving Image</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/animationFlyingBean.css}" rel="stylesheet">
</head>
<body>
<script th:src="@{/js/FlyingCofeeBean.js}"></script>

<script th:src="@{/js/GameLayout.js}" type="module"></script>
<script th:src="@{/js/JSBackend.js}" type="module"></script>


</body>

</body>
</html>
